.example-spacer {
    flex: 1 1 auto;
}

.main-body {
    margin: 0 auto;
    padding-top: 20px;
    max-width: 1248px;
}

mat-form-field {
    width: 100%;
}

.toolbar {
    background-color: #3D2B3D;
}

.name-app {
    color: #CBEFB6;
}

.success-button {
    background-color: #CBEFB6;
}